name: Deploy Prod

permissions:
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: self-hosted
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Create .env file
        env:
          ENV_FILE: ${{ secrets.ENV_FILE_PROD }}
        run: |
          echo "$ENV_FILE" > .env

      - name: Build Docker image
        run: |
          VERSION="${{ github.sha }}"
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          
          docker build -t ${{ secrets.DOCKER_REGISTRY_URL }}/${{ secrets.DOCKER_USERNAME }}/collab:$VERSION \
                       .
          
          docker tag ${{ secrets.DOCKER_REGISTRY_URL }}/${{ secrets.DOCKER_USERNAME }}/collab:$VERSION ${{ secrets.DOCKER_REGISTRY_URL }}/${{ secrets.DOCKER_USERNAME }}/collab:latest

      - name: Log in to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_REGISTRY_URL }}/${{ secrets.DOCKER_USERNAME }}/collab:$VERSION
          docker push ${{ secrets.DOCKER_REGISTRY_URL }}/${{ secrets.DOCKER_USERNAME }}/collab:latest

      - name: Check and fix network configuration
        run: |
          NETWORK_NAME="collab_default"
          if docker network inspect $NETWORK_NAME >/dev/null 2>&1; then
            DRIVER=$(docker network inspect $NETWORK_NAME --format '{{.Driver}}')
            if [ "$DRIVER" != "overlay" ]; then
              docker stack rm collab-prod || true
              sleep 15
              docker network rm $NETWORK_NAME || true
            fi
          fi
        continue-on-error: true

      - name: Deploy to Docker Swarm
        run: |
          export IMAGE_VERSION=$VERSION
          export DOMAIN_NAME="collab.weez.boo" # Update with actual prod domain
          export APP_PORT=3002
          docker stack deploy -c docker-compose.swarm.yml collab-prod --prune
        env:
          IMAGE_VERSION: ${{ env.VERSION }}
          APP_PORT: 3002
          DOCKER_REGISTRY_URL: ${{ secrets.DOCKER_REGISTRY_URL }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}

      - name: Wait for services to be ready
        run: |
          sleep 30
          docker service ps collab-prod_collab --no-trunc
